.cta {
    &__heading {
        color:white;
    }

    &__background {
        background: no-repeat bottom/cover url(../../assets/images/bg-boost-mobile.svg);
        background-color: $grayish-violet;
    }
}