.cta {
    &__heading {
        color:white;
    }

    &__background {
        background: $light-violet no-repeat center/cover url('../assets/images/bg-boost-mobile.svg');

        @include media-breakpoint-up(md) {
            background: $light-violet no-repeat center/cover url('../assets/images/bg-boost-desktop.svg');
        }
    }
}