.hero {
    &__img {
        position: relative;
        min-height: 373px;
        background: url(../assets/images/illustration-working.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 20px;
    }
}