.hero {
    &__img {
        position: relative;
        /* you could change these units to rem */ 
        min-height: 373px;
        background: no-repeat url('../assets/images/illustration-working.svg');
        background-size: cover;
        background-position: -20%;

        @include media-breakpoint-up(md) {
            background: none;
            flex: 1;
            &::before {
                content: '';
                width: 35rem;
                position: absolute;
                height: 100%;
                background: no-repeat url('../assets/images/illustration-working.svg');
                background-size: 95%;
            }
        }
    }
}
