.alert {
    position: fixed;
    @include all-centered;
    z-index: 1;
    border-radius: 0.25rem;
    box-shadow: 0.0625rem 0.0625rem 0.875rem 0rem #292626c9;
    overflow: hidden;
    text-align: center;
    background: white;

    &__header {
        font-size: 3rem;
        background: $red;
        color: white;
    }

    &__body {
        padding: 1rem;
        color: $dark-violet;
    }
}