.card {
    position: relative;
    z-index: 1;

    &-icon {
        @include position-absolute;
        margin: auto;
        max-width: 5.6rem;
        max-height: 5.6rem;
        padding: 1.56rem;
        border-radius: 50%;
        background: $dark-violet;

        @include media-breakpoint-up(lg) {
            left: 25%;
        }
    }

    &-line-behind {
        position: absolute;
        height: 0.4rem;
        width: 100%;
        top: 50%;
        transform: rotate(90deg);
        background: $cyan;

        @include media-breakpoint-down(sm) {
            width: 148%;
            left: -24%;
        }
        @include media-breakpoint-up(lg) {
            top: 43%;
            transform: none;
        }
    }
}