.url-shorten__form {
    background: no-repeat bottom/cover url(../../assets/images/bg-shorten-mobile.svg);
    background-color: $grayish-violet;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}