#url-shorten__form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 2rem);
    background: $dark-violet no-repeat bottom/cover url('../assets/images/bg-shorten-mobile.svg');

    @include media-breakpoint-up(md) {
        background: $dark-violet no-repeat top/cover url('../assets/images/bg-shorten-desktop.svg');
    }
}