@mixin text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin position-absolute {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}